.WeatherForecast {
  text-align: center;
  margin-top: 30px;
}
.WeatherForecast-day {
  font-size: 14px;
}
.WeatherForecast-temp-max {
  font-size: 14px;
  opacity: 0.8;
  margin-right: 3px;
}
.WeatherForecast-temp-min {
  font-size: 14px;
  opacity: 0.5;
}
.WeatherForecast img.secondaryImage {
  height: 75px;
  display: inline-block;
  margin: 0;
}

@media (max-width: 768px) {
  .WeatherForecast-day {
    font-size: 11px;
  }
  .WeatherForecast img.secondaryImage {
    height: 30px;
    margin: 2px 0;
  }
  .WeatherForecast-temp-max {
    font-size: 9px;
    opacity: 0.8;
    margin-right: 2px;
  }
  .WeatherForecast-temp-min {
    font-size: 9px;
    opacity: 0.5;
  }
}
